.command {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.section__azur_backrground {
  background-color: #f5f4fa;
}

.command__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-color);
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.command__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.command__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.command__text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: var(--paragraph-color);
}
.social_list {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
.social_list__item {
  width: 44px;
  height: 44px;
}

.social_list__item:not(:first-child) {
  margin-left: 10px;
}
.social_list__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-color);
  }
  &:hover .social_list__icon,
  &:focus .social_list__icon {
    fill: #ffffff;
  }
}
.social_list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
