:root {
  --background-color: #ffffff;
  --title-color: #212121;
  --paragraph-color: #757575;
  --color-address: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --button-color: #2196f3;
  --color-hover-focus: #2196f3;
  --navigation-color: #212121;
  --filter-button: #ffffff;
}
